
// Collapse Component
.toggle {
    background-color: #FF6060;
    padding: 10px 20px 8px 15px;
    border-radius: 5px;
    display: flex;
    

} 

.content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.5s;

    p{
        padding: 0.5rem;
        border-radius: 5px;
            font-size: 18px;
            font-weight: 400;

    }
       
}
.toggle {
    display: flex;
    justify-content: space-between;
    h2 {
        color: white;
    }
   
}
.toggle-btn {
    border: none;
    background-color: #FF6060;
    .arrowIcone {
        transition: all .3s ease-in;  
    }
    .closed {
        transform: rotate(0);
    }
    .open {
        transform: rotate(3.142rad);   
    }
}

//Carousel component
.carousel-parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    p {
        position: absolute;
        font-size: 18px;
        font-weight: 500px;
        color: white;
    }
}
.carousel {
    position: relative;
    width: 100%;
    .picture {
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    button {
        position: absolute;
        background-color: transparent;
        border: none;
        top: 35%;
        img {
            height: 79.2px;
            width:  46px; 
        }
    }
    .prevBtn {
        transform: rotate(-0.25turn);
        left: 15px;
      
    }
    .nextBtn {
        transform: rotate(90deg);
        right: 15px;
        
    }
}

/* Media query for small device */
@media (max-width: 767.98px) {
    .carousel {
        .picture {
            height: 255px;
        }
        button {
            top:40%;
            img {
                height: 24px;
                width: 24px;
            }
        }
    }
}   