

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 50px;

  img {
    height: 68px;
  }
}

.link-style {
  color: black;
  text-decoration: none;
  margin-left: 57px;
  font-size: 24px;

  &:hover {
    text-decoration: underline;
  }
}

/* Footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 29px;
  margin-top: 139px;
}

/* Erreur 404 */

.error404 {
  color: #FF6060;
  text-align: center;

  h1 {
    font-size: 288px;
    font-weight: 700;
  }

  .link-style {
    text-decoration: underline;
    margin-left: 0;
  }

  h1 {
    margin-bottom: 139px;
  }
  
  p, .link-style {
    margin-bottom: 139px;
  }
}



/* Media query for small device */
@media (max-width: 767.98px) {


  /* Header */

  header {
    img {
      height: 46px;
      width: auto;
    }

    .link-style {
      font-size: 12px;
      margin-left: 26px;
    }
  }

  /* Erreur 404 */

  .error404 {
    h1 {
      font-size: 96px;
    }

    p {
      font-size: 18px;
    }

    .link-style {
      font-size: 14px;
    }
  }
}
